{% extends 'base.html.twig' %} {# Héritage de la view de base #}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    <h1>Liste des employés</h1>

    {% for employe in employes %}
        {# On peut aussi faire du chaînage en ajoutant un point suivis du nom de l'entité et les attributs souhaités,
        cela équivaut à un employe->getEntreprise()->getRaisonSociale() #}
        <a href="{{ path('show_employe', {'id': employe.id}) }}">{{ employe }}</a> ({{ employe.entreprise.raisonSociale }})<br>
     {% endfor %}

{% endblock %}
